@using Weverca.Web.Controllers
@using Weverca.Web.Models
@using Weverca.Web.Properties

@model WevercaModel

@{
    ViewBag.Title = Resources.IndexTitle;
}

@using (Html.BeginForm(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new { id = "Form"}))
{
    <fieldset class="basicForm">
        @Html.HiddenFor(m => m.ChangeInput)
        <ul>
            <li>               
                <div class="selectHolder">@Html.DropDownListFor(m => m.Input, ValueHelperController.GetInputValueTypes())</div>
            </li>
            <li>
                @Html.TextAreaFor(m => m.PhpCode)
            </li>
            <li>
                <fieldset class="settings">
                    <legend>@Resources.Settings</legend>
                    <ul>
                        <li>
                            @Html.CheckBoxFor(m => m.AnalysisModel.RunVerification)
                            @Html.LabelFor(m => m.AnalysisModel.RunVerification)
                        </li>
                        <li>
                            @Html.CheckBoxFor(m => m.AnalysisModel.RunIndicatorMetrics)
                            @Html.LabelFor(m => m.AnalysisModel.RunIndicatorMetrics)
                        </li>
                        <li>
                            @Html.CheckBoxFor(m => m.AnalysisModel.RunQuantityMetrics)
                            @Html.LabelFor(m => m.AnalysisModel.RunQuantityMetrics)
                        </li>
                        <li>
                            @Html.CheckBoxFor(m => m.AnalysisModel.RunRatingMetrics)
                            @Html.LabelFor(m => m.AnalysisModel.RunRatingMetrics)
                        </li>
                    </ul>
                </fieldset> 
            </li>
        </ul>
        <input type="submit" value="@Resources.Verify" class="button" />
    </fieldset>
}

<script type="text/javascript">
    $(document).ready(function () {
        CodeMirror.fromTextArea(document.getElementById("PhpCode"), { mode: "php", lineNumbers: true });
    });

    $("#Input").change(function () {
        $("#ChangeInput").val(true);
        $("#Form").submit();
    });
</script>