@using Weverca.Web.Controllers
@using Weverca.Web.Models
@using Weverca.Web.Properties

@model WevercaModel

@{
    ViewBag.Title = Resources.IndexTitle;
}

@using (Html.BeginForm(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), FormMethod.Post, new { id = "Form"}))
{
    <fieldset class="basicForm">
        @Html.HiddenFor(m => m.ChangeInput)
        <ul>
            <li>
                @Html.LabelFor(m => m.Input)
                <div class="selectHolder">@Html.DropDownListFor(m => m.Input, ValueHelperController.GetValueTypes())</div>
            </li>
            <li>
                @Html.LabelFor(m => m.PhpCode)
                @Html.TextAreaFor(m => m.PhpCode)
            </li>
        </ul>
        <input type="submit" value="@Resources.Verify" class="button" />
    </fieldset>
}

<script type="text/javascript">
    $(document).ready(function () {
        CodeMirror.fromTextArea(PhpCode, { mode: "php", lineNumbers: true });
    });

    $("#Input").change(function () {
        $("#ChangeInput").val(true);
        $("#Form").submit();
    });
</script>